.search-input{
    margin: 20px 0 0 40px;
}

.search-input-label{
    margin-right: 10px;
    width: 200px;
}

.student-ad-container{
    margin: 40px 40px 0px 40px;
}

.student-ad-element{
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FEFFBE;
    width: 100%;
}

.student-add-ad-button{
    margin: 10px 0 0 40px;
    border-radius: 5px;
    padding: 5px;
    background-color: #DBA159;
    color: white;
    border: none;
    outline:none;
}
