.navbar-container{
    margin: 10px 40px 0 40px;
    padding: 10px;
    background-color: #DBA159;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.navbar-element{
    display: inline-block;
    margin: 0 20px 0 0;
}

.navbar-element-student-info{
    float: right;
}

.link-element{
    color: white;
}

.link-element:hover{
    color: white;
}
